/terraform/**/.terraform/*
/terraform/.terraform.*

/terraform/*.tfstate
/terraform/*.tfstate.*

/terraform/*.tfvars
/terraform/*.tfvars.json

/terraform/.terraformrc
/terraform/terraform.rc

/terraform/kube_config.yaml